:root {
    --white-color: #FEFCFD;
    --orange-color: #FE5F00;
    --blue-color: #03B5AA;
    --dark-blue-color: #00757A;
    --grey-color: #2D3339;
    --black-color: #031926;
}

html,
body {
    background-color: var(--grey-color);
    color: var(--white-color);
    font-family: 'Courier New', monospace;
    font-size: small;
    padding-top: 1.5%;
}

.nav {
    background-color: var(--black-color);
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: left;
    position: fixed;
    top: 1%;
    width: 99%;

}

.nav a {
    background-color: var(--black-color);
    border-radius: 5px;
    text-decoration: none;
    font-size: xx-large;
    color: var(--white-color);
    padding-right: 2%;
    padding-left: 2%;
    top: 0;

}

.nav a:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}

.nav a.active:hover {
    background-color: var(--white-color);
}

.nav a.active {
    background-color: var(--blue-color);
    color: var(--black-color);
}

.card {
    background-color: var(--dark-blue-color);
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
}

.card a {
    text-decoration: none;
    color: var(--white-color);
    border-radius: 5px;
}


.card a:hover {
    background-color: var(--blue-color);
}

.card img{
    width: 150px;
}

.corpus {
    background-color: var(--black-color);
    width: 80%;
    padding-left: 1%;
    border-radius: 5px;
}

.profile {
    display: flex;
    flex-direction:row;
    margin-bottom: 1%;

}

@media only screen and (max-width: 1080px) {
    /* For mobile phones: */
    .nav, .main, .card, .corpus, .profile{
      width: 100%;
      padding-left: 0%;
      flex-direction: column;
    }

    .nav{
        position: relative;
        margin-bottom: 1%;
    }
  }