@charset "utf-8";

$base-font-family: helvetica !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

:root {
  --text-color: #031926;
  --background-color: #FEFCFD;
  --brand-color: #00D0D0;
  --alert-color: #D00000;
   }

$text-color:       var(--text-color) !default;
$background-color: var(--background-color) !default;
$brand-color:      var(--brand-color) !default;
$alert-color:      var(--alert-color) !default;

$grey-color:       #00b589 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

$content-width:    800px !default;

$on-palm:          800px !default;
$on-laptop:        800px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
