/**
 * Site header
 */
.site-header {
  // min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: sticky;
  top: 0;
  z-index: 4;

  wrapper {
    @include media-query($on-palm) {
      border: none;
      background-color: inherit;
    }
  }

  img {
    width: 0px;
  }
}
.site-title {
  @include relative-font-size(2);
  color: $text-color;
  font-weight: 400;
  line-height: $base-line-height * $base-font-size;
  padding: 1% 1%;
  float: left;

  &,
  &:visited {
    color: $text-color;
    background-color: $background-color;
    text-decoration: none;
  }
  &:hover {
    color: $background-color;
    background-color: $text-color;
    text-decoration: none;
  }
  &.active {
    color: $background-color;
    background-color: $alert-color;
  }
  &.active:hover {
    color: $text-color;
    background-color: $brand-color;
  }
}

.site-nav {
  @include relative-font-size(1.625);
  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    display: inline-block;
    line-height: $base-line-height * $base-font-size;
    height: 100%;
    padding: 1% 2%;
    margin-bottom: 0;

    &:hover {
      color: $background-color;
      background-color: $text-color;
      text-decoration: none;
    }
    &.active {
      color: $background-color;
      background-color: $alert-color;
    }
    &.active:hover {
      color: $text-color;
      background-color: $brand-color;
    }
  }

  @include media-query($on-palm) {
    display: flex;
    justify-content: right;
    .page-link {
      padding: 1.75% 5%;
      font-size: 0;
      &:hover {
        color: $background-color;
        background-color: $text-color;
        text-decoration: none;
      }
      &.active {
        color: $background-color;
        background-color: $alert-color;
      }
      &.active:hover {
        color: $text-color;
        background-color: $brand-color;
      }

      img {
      width: $base-line-height * $base-font-size;
    }
    }

    .spacer {
      display: none;
    }

  }
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(10% - (#{$spacing-unit} / 2));
  width:         calc(10% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  text-align: left;

}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;
  text-align: left;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

}

.projects-header {
  margin-bottom: $spacing-unit;
  text-align: left;
  @include media-query($on-palm) {
    text-align: center;
  }
}

.projects-content {
  margin-bottom: $spacing-unit;
  text-align: left;
  @include media-query($on-palm) {
    text-align: center;
  }
}

.marquee {
  position: relative;
  display: flex;
  overflow: hidden;
  margin: auto;
  width: 90%;
  background-color: var(--text-color);
  color: var(--brand-color);
  border: 2px solid var(--background-color);
  font-size: 15vh;
  z-index: -1;
  user-select: none;
}

.marquee_group {
  display: flex;
  justify-content: space-around;
  animation: scroll 30s infinite linear;
}

.marquee_group span{
  display:flex;
  white-space: nowrap;
}

@keyframes scroll{
  0% {
      transform:translateX(0%);
  }
  100% {
      transform:translateX(-100%);
  }
}